{% extends 'base.html' %}
{% block content %}

  <div> 
      <h1>Meowpedia</h1>
      <h4>NPM: {{ context.npm }}</h5>
      <h4>Nama: {{ context.name }}</h5>
      <h4>Kelas: {{ context.class }}</h5>
  <div>

  <div>
    {% if not cat_entries %}
    <p>Belum ada data kucing pada meowpedia.</p>
    {% else %}
    <table>
      <tr>
        <th>Nama</th>
        <th>Usia</th>
        <th>Spesies</th>
        <th>Warna</th>
        <th>Harga</th>
        
      </tr>
    
      {% comment %} Berikut cara memperlihatkan data mood di bawah baris ini 
      {% endcomment %} 
      {% for cat_entry in cat_entries %}
      <tr>
        <td>{{cat_entry.name}}</td>
        <td>{{cat_entry.age}}</td>
        <td>{{cat_entry.species}}</td>
        <td>{{cat_entry.colour}}</td>
        <td>{{cat_entry.price}}</td>
        <td>{{cat_entry.description}}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    
    <br />
    
    <a href="{% url 'main:create_cat_entry' %}">
      <button>Add New Cat</button>
    </a>
</div>

{% endblock content %}



